$colors-alt1: (
  'primary': (
    'base': #21ba45,
  ),
  'success': (
    'base': #21ba45,
  ),
  'warning': (
    'base': #f2711c,
  ),
  'danger': (
    'base': #db2828,
  ),
  'error': (
    'base': #db2828,
  ),
  'info': (
    'base': #42b8dd,
  ),
);
$colors-alt2: (
  'primary': (
    'base': #3f51b5, // Azul oscuro
  ),
  'success': (
    'base': #21ba45, // Verde (mantenido)
  ),
  'warning': (
    'base': #ffc107, // Amarillo ámbar (mantenido)
  ),
  'danger': (
    'base': #db2828, // Rojo (mantenido)
  ),
  'error': (
    'base': #db2828, // Rojo (mantenido)
  ),
  'info': (
    'base': #00bcd4, // Cian
  ),
);
$colors-alt3: (
  'primary': (
    'base': #9c27b0, // Púrpura
  ),
  'success': (
    'base': #21ba45, // Verde (mantenido)
  ),
  'warning': (
    'base': #ff9800, // Naranja ámbar (mantenido)
  ),
  'danger': (
    'base': #db2828, // Rojo (mantenido)
  ),
  'error': (
    'base': #db2828, // Rojo (mantenido)
  ),
  'info': (
    'base': #8bc34a, // Verde lima
  ),
);
$colors-alt9: (
  'primary': (
    'base': #7b1fa2, // Morado medio oscuro
  ),
  'success': (
    'base': #8bc34a, // Verde lima (ligeramente verdoso)
  ),
  'warning': (
    'base': #ffc107, // Amarillo ámbar
  ),
  'danger': (
    'base': #c62828, // Rojo oscuro (ligeramente rojizo)
  ),
  'error': (
    'base': #c62828, // Rojo oscuro (ligeramente rojizo)
  ),
  'info': (
    'base': #4527a0, // Morado medio oscuro
  ),
);
$--colors :$colors-alt2;
// we can add this to custom namespace, default is 'el'
@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'ep'
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ('default': 50px)
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use './dark.scss';
