@import './base.css';

#app {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  overflow-y: hidden;
  overflow-x: hidden;
}
