#app {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  overflow-y: hidden;
  overflow-x: hidden;
}

#aside-menu {
  max-height: 100vh;
  min-height: 100vh;
}

.layout-container-demo .el-header {
  position: relative;
}
.layout-container-demo .el-menu {
  border-right: none;
}
.layout-container-demo .el-main {
  padding: 0;
}
.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
