#app {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  overflow-y: hidden;
  overflow-x: hidden;
}

.color-back-primary :not(.no-background) {
  background-color: #384150;
}

#aside-menu {
  max-height: 100vh;
  min-height: 100vh;
}

#navbar-layout {
  text-align: right;
  font-size: 12px;
  max-height: 1vh;
  min-height: 5vh;
}

#main-layout {
  max-height: 90vh;
  min-height: 90vh;
}

#main-layout .container {
  max-height: 90vh;
  min-height: 90vh;
}

#main-layout .container #breadcrumb {
  max-height: 5vh;
  min-height: 5vh;
}

#main-layout .container #routing {
  max-height: 85vh;
  min-height: 85vh;
}

.header-content {
  max-height: 5vh;
  min-height: 5vh;
}

.table-content {
  max-height: 70vh;
  min-height: 70vh;
}

.formulario-content {
  max-height: 75vh;
  min-height: 75vh;
}

.layout-container-demo .el-header {
  position: relative;
}
.layout-container-demo .el-menu {
  border-right: none;
}
.layout-container-demo .el-main {
  padding: 0;
}
.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
